body{
    --graphic_chart: #2898ec;
}

.App{
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--graphic_chart);
    padding: .3em;
}
.option-button{
    padding: .5em .5em;
    cursor: pointer;
    margin: .3em 0;
    min-width: 15em;
    background-color: var(--graphic_chart);
    color: #fff;
    border-radius: 5px;
    font-size: .9rem;
    border-width: 0;
}
